@import 'bootstrap';

// TODO

.navbar {
  margin-bottom: 0px;
}

#flash-message {
  text-align: center;
}

.display-block {
  display: block;
}

input, select {
  width: 100%;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.initial-width {
  width: initial;
}
.full-width {
  width: 100%;
}

.checkout {
  display: flex;
  flex-direction: row;

  .left-pane {
    width: 100%;
    margin-right: 30px;

    .save-address-box {
      margin-top: 25px;
    }
  }

  .right-pane {
    width: 300px;
    flex: none;
  }
}