%nav.navbar.navbar-default.navbar-fixed-bottom.footerstyling
  %div.container.row
   
    %div.col-md-8.col-md-offset-3.col-sm-8.col-sm-offset-3.copyright
      © 2015 Company Inc
    %div.col-md-4.col-sm-4.social-media
      = link_to image_tag( 'facebook.svg'), 'http://www.facebook.com'
      = link_to image_tag( 'twitter.svg'), 'http://www.twitter.com'
      = link_to image_tag( 'linkedin.svg'), 'http://www.linkedin.com'
      = link_to image_tag( 'youtube.svg'), 'http://www.youtube.com'
